.md-checkbox-grid {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
}
.modal-lg .nav-grid{
	display:grid;
	grid-template-columns:repeat(4,1fr);
}

.form-wizard .steps-module li{
	width: 100%;
}
.form-wizard .steps-module{
	display: grid;
	grid-template-columns: repeat(4, 1fr);
}

.form-wizard .steps-module::before{
	content: none;
}

.form-wizard .steps-module > li > a.step{
	text-align: inherit;
}

.modal-lg .nav-grid::before, .modal-lg .nav-grid::after{
	content: none;
}

@media screen and (max-width: 530px) {
	.modal.fade.in{
		display: block;
	}

	.form-wizard .steps > li > a.step{
		padding: 0;
	}

	.form-wizard .steps>li.done>a.step .desc i{
		display: none;
	}
	.modal-lg .nav-grid{
		grid-template-columns:repeat(2, 1fr);
	}
	.modal-lg .nav-grid::before, .modal-lg .nav-grid::after{
		content: none;
	}

	.md-checkbox-grid{
		grid-template-columns: repeat(2, 1fr);
	}

}