.table-scrollable {
	.dataTable {
		th {
			> .btn-group {
				position: absolute;
				margin-top: -2px;
			}
		}

		td {
			> .btn-group {
				position: absolute;
				margin-top: -2px;
			}
		}
	}
}

.dataTable {
	td {
		.popover-content {
			.btn-group {
				position: static !important;
			}
		}
	}
}

.table {
	.btn-group {
		.btn {
			margin-left: 0;
			margin-right: -1px;
		}
	}
}

.portlet {
	.dataTables_wrapper {
		.dt-buttons {
			display: flex;
			justify-content: flex-end;
			margin-bottom: 1.5em;

			.dt-button {
				margin-left: 15px;
			}
		}
	}
}

.dataTables_wrapper {
	.dt-buttons {
		float: right;

		.portlet.light & {
			margin-top: -64px;
		}

		.portlet.box & {
			margin-top: -52px;
		}
	}
}

.dataTables {
	&_length {
		float: left;
		width: 50%;
	}

	&_filter {
		text-align: right !important;
		float: left;
		width: 50%;
	}
}

@media (max-width: 767px) {
	.dataTables {
		&_length {
			float: inherit;
			width: 100%;
		}

		&_filter {
			text-align: center !important;
			float: inherit;
			width: 100%;
		}
	}

	.portlet.box {
		.dataTables_wrapper {
			.dt-buttons {
				justify-content: center;
				margin-top: 0;
				margin-bottom: 20px;

				> .dt-button {
					margin-top: 5px;
				}
			}
		}
	}
	.portlet.light {
		.dataTables_wrapper {
			.dt-buttons {
				justify-content: center;
				margin-top: 0;
				margin-bottom: 20px;

				> .dt-button {
					margin-top: 5px;
				}
			}
		}
	}
}

.row-acction {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

