$color_1: #575757;
$color_2: #797979;
$color_3: white;
$color_4: #bdbdbd;
$color_5: transparent;
$color_6: #fff;
$color_7: #333;
$font_family_1: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$background_color_1: black;
$background_color_2: rgba(0, 0, 0, 0.4);
$background_color_3: white;
$background_color_4: #f1f1f1;
$background_color_5: #ea7d7d;
$background_color_6: #f06e57;
$background_color_7: #8cd4f5;
$background_color_8: #7ecff4;
$background_color_9: #5dc2f1;
$background_color_10: #c1c1c1;
$background_color_11: #b9b9b9;
$background_color_12: #a8a8a8;
$background_color_13: #f27474;
$background_color_14: #f8bb86;
$background_color_15: #c9dae1;
$background_color_16: #a5dc86;
$background_color_17: currentColor;
$border_color_1: #f27474;
$border_color_2: #f8bb86;
$border_color_3: #c9dae1;
$border_color_4: #a5dc86;
$border_color_5: transparent;

@keyframes showSweetAlert {
	0% {
		transform: scale(0.7);
	}
	45% {
		transform: scale(1.05);
	}
	80% {
		transform: scale(0.95);
	}
	100% {
		transform: scale(1);
	}
}

@keyframes hideSweetAlert {
	0% {
		transform: scale(1);
	}
	100% {
		transform: scale(0.5);
	}
}

@keyframes slideFromTop {
	0% {
		top: 0;
	}
	100% {
		top: 50%;
	}
}

@keyframes slideToTop {
	0% {
		top: 50%;
	}
	100% {
		top: 0;
	}
}

@keyframes slideFromBottom {
	0% {
		top: 70%;
	}
	100% {
		top: 50%;
	}
}

@keyframes slideToBottom {
	0% {
		top: 50%;
	}
	100% {
		top: 70%;
	}
}

@keyframes animateSuccessTip {
	0% {
		width: 0;
		left: 1px;
		top: 19px;
	}
	54% {
		width: 0;
		left: 1px;
		top: 19px;
	}
	70% {
		width: 50px;
		left: -8px;
		top: 37px;
	}
	84% {
		width: 17px;
		left: 21px;
		top: 48px;
	}
	100% {
		width: 25px;
		left: 14px;
		top: 45px;
	}
}

@keyframes animateSuccessLong {
	0% {
		width: 0;
		right: 46px;
		top: 54px;
	}
	65% {
		width: 0;
		right: 46px;
		top: 54px;
	}
	84% {
		width: 55px;
		right: 0;
		top: 35px;
	}
	100% {
		width: 47px;
		right: 8px;
		top: 38px;
	}
}

@keyframes rotatePlaceholder {
	0% {
		transform: rotate(-45deg);
	}
	5% {
		transform: rotate(-45deg);
	}
	12% {
		transform: rotate(-405deg);
	}
	100% {
		transform: rotate(-405deg);
	}
}

@keyframes animateErrorIcon {
	0% {
		transform: rotateX(100deg);
		opacity: 0;
	}
	100% {
		transform: rotateX(0deg);
		opacity: 1;
	}
}

@keyframes animateXMark {
	0% {
		transform: scale(0.4);
		margin-top: 26px;
		opacity: 0;
	}
	50% {
		transform: scale(0.4);
		margin-top: 26px;
		opacity: 0;
	}
	80% {
		transform: scale(1.15);
		margin-top: -6px;
	}
	100% {
		transform: scale(1);
		margin-top: 0;
		opacity: 1;
	}
}

@keyframes pulseWarning {
	0% {
		border-color: #f8d486;
	}
	100% {
		border-color: #f8bb86;
	}
}

@keyframes pulseWarningIns {
	0% {
		background-color: #f8d486;
	}
	100% {
		background-color: #f8bb86;
	}
}

@keyframes rotate-loading {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

@keyframes ball-fall {
	0% {
		opacity: 0;
		transform: translateY(-145%);
	}
	10% {
		opacity: .5;
	}
	20% {
		opacity: 1;
		transform: translateY(0);
	}
	80% {
		opacity: 1;
		transform: translateY(0);
	}
	90% {
		opacity: .5;
	}
	100% {
		opacity: 0;
		transform: translateY(145%);
	}
}

body.stop-scrolling {
	height: 100%;
	overflow: hidden;
}

.sweet-overlay {
	background-color: $background_color_2;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	display: none;
	z-index: 10000;
}

.sweet-alert {
	background-color: $background_color_3;
	font-family: $font_family_1;
	width: 478px;
	padding: 17px;
	border-radius: 5px;
	text-align: center;
	position: fixed;
	left: 50%;
	top: 50%;
	margin-left: -256px;
	margin-top: -200px;
	overflow: hidden;
	display: none;
	z-index: 99999;
	h2 {
		color: $color_1;
		font-size: 30px;
		text-align: center;
		font-weight: 600;
		text-transform: none;
		position: relative;
		margin: 25px 0;
		padding: 0;
		line-height: 40px;
		display: block;
	}
	p {
		color: $color_2;
		font-size: 16px;
		font-weight: 300;
		position: relative;
		text-align: inherit;
		float: none;
		margin: 0;
		padding: 0;
		line-height: normal;
	}
	fieldset {
		border: none;
		position: relative;
	}
	.sa-error-container {
		background-color: $background_color_4;
		margin-left: -17px;
		margin-right: -17px;
		overflow: hidden;
		padding: 0 10px;
		max-height: 0;
		transition: padding 0.15s, max-height 0.15s;
		.icon {
			display: inline-block;
			width: 24px;
			height: 24px;
			border-radius: 50%;
			background-color: $background_color_5;
			color: $color_3;
			line-height: 24px;
			text-align: center;
			margin-right: 3px;
		}
		p {
			display: inline-block;
		}
	}
	.sa-error-container.show {
		padding: 10px 0;
		max-height: 100px;
		transition: padding 0.25s, max-height 0.25s;
	}
	.sa-input-error {
		position: absolute;
		top: 29px;
		right: 26px;
		width: 20px;
		height: 20px;
		opacity: 0;
		transform: scale(0.5);
		transform-origin: 50% 50%;
		transition: all 0.1s;
		&::before {
			content: "";
			width: 20px;
			height: 6px;
			background-color: $background_color_6;
			border-radius: 3px;
			position: absolute;
			top: 50%;
			margin-top: -4px;
			left: 50%;
			margin-left: -9px;
			transform: rotate(-45deg);
		}
		&::after {
			content: "";
			width: 20px;
			height: 6px;
			background-color: $background_color_6;
			border-radius: 3px;
			position: absolute;
			top: 50%;
			margin-top: -4px;
			left: 50%;
			margin-left: -9px;
			transform: rotate(45deg);
		}
	}
	.sa-input-error.show {
		opacity: 1;
		transform: scale(1);
	}
	input {
		width: 100%;
		box-sizing: border-box;
		border-radius: 3px;
		border: 1px solid #d7d7d7;
		height: 43px;
		margin-top: 10px;
		margin-bottom: 17px;
		font-size: 18px;
		box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.06);
		padding: 0 12px;
		display: none;
		transition: all 0.3s;
		&:focus {
			outline: none;
			box-shadow: 0 0 3px #c4e6f5;
			border: 1px solid #b4dbed;
			&::-moz-placeholder {
				transition: opacity 0.3s 0.03s ease;
				opacity: 0.5;
			}
			&:-ms-input-placeholder {
				transition: opacity 0.3s 0.03s ease;
				opacity: 0.5;
			}
			&::-webkit-input-placeholder {
				transition: opacity 0.3s 0.03s ease;
				opacity: 0.5;
			}
		}
		&::-moz-placeholder {
			color: $color_4;
		}
		&::-ms-clear {
			display: none;
		}
		&:-ms-input-placeholder {
			color: $color_4;
		}
		&::-webkit-input-placeholder {
			color: $color_4;
		}
	}
	.sa-confirm-button-container {
		display: inline-block;
		position: relative;
	}
	.la-ball-fall {
		position: absolute;
		left: 50%;
		top: 50%;
		margin-left: -27px;
		margin-top: 4px;
		opacity: 0;
		visibility: hidden;
	}
	button {
		background-color: $background_color_7;
		color: $color_3;
		border: none;
		box-shadow: none;
		font-size: 17px;
		font-weight: 500;
		border-radius: 5px;
		padding: 10px 32px;
		margin: 26px 5px 0 5px;
		cursor: pointer;
		&:focus {
			outline: none;
			box-shadow: 0 0 2px rgba(128, 179, 235, 0.5), inset 0 0 0 1px rgba(0, 0, 0, 0.05);
		}
		&:hover {
			background-color: $background_color_8;
		}
		&:active {
			background-color: $background_color_9;
		}
		&::-moz-focus-inner {
			border: 0;
		}
	}
	button.cancel {
		background-color: $background_color_10;
		&:hover {
			background-color: $background_color_11;
		}
		&:active {
			background-color: $background_color_12;
		}
		&:focus {
			box-shadow: rgba(197, 205, 211, 0.8) 0 0 2px, rgba(0, 0, 0, 0.0470588) 0 0 0 1px inset !important;
		}
	}
	button[disabled] {
		opacity: .6;
		cursor: default;
	}
	button.confirm[disabled] {
		color: $color_5;
		& ~ .la-ball-fall {
			opacity: 1;
			visibility: visible;
			transition-delay: 0s;
		}
	}
	.sa-icon {
		width: 80px;
		height: 80px;
		border: 4px solid gray;
		border-radius: 50%;
		margin: 20px auto;
		padding: 0;
		position: relative;
		box-sizing: content-box;
	}
	.sa-icon.sa-error {
		border-color: $border_color_1;
		.sa-x-mark {
			position: relative;
			display: block;
		}
		.sa-line {
			position: absolute;
			height: 5px;
			width: 47px;
			background-color: $background_color_13;
			display: block;
			top: 37px;
			border-radius: 2px;
		}
		.sa-line.sa-left {
			transform: rotate(45deg);
			left: 17px;
		}
		.sa-line.sa-right {
			transform: rotate(-45deg);
			right: 16px;
		}
	}
	.sa-icon.sa-warning {
		border-color: $border_color_2;
		.sa-body {
			position: absolute;
			width: 5px;
			height: 47px;
			left: 50%;
			top: 10px;
			border-radius: 2px;
			margin-left: -2px;
			background-color: $background_color_14;
		}
		.sa-dot {
			position: absolute;
			width: 7px;
			height: 7px;
			border-radius: 50%;
			margin-left: -3px;
			left: 50%;
			bottom: 10px;
			background-color: $background_color_14;
		}
	}
	.sa-icon.sa-info {
		border-color: $border_color_3;
		&::before {
			content: "";
			position: absolute;
			width: 5px;
			height: 29px;
			left: 50%;
			bottom: 17px;
			border-radius: 2px;
			margin-left: -2px;
			background-color: $background_color_15;
		}
		&::after {
			content: "";
			position: absolute;
			width: 7px;
			height: 7px;
			border-radius: 50%;
			margin-left: -3px;
			top: 19px;
			background-color: $background_color_15;
			left: 50%;
		}
	}
	.sa-icon.sa-success {
		border-color: $border_color_5;
		&::before {
			content: '';
			position: absolute;
			width: 60px;
			height: 120px;
			background: white;
			border-radius: 120px 0 0 120px;
			top: -7px;
			left: -33px;
			transform: rotate(-45deg);
			transform-origin: 60px 60px;
		}
		&::after {
			content: '';
			position: absolute;
			width: 60px;
			height: 120px;
			background: white;
			border-radius: 0 120px 120px 0;
			top: -11px;
			left: 30px;
			transform: rotate(-45deg);
			transform-origin: 0 60px;
		}
		.sa-placeholder {
			width: 80px;
			height: 80px;
			border: 4px solid rgba(165, 220, 134, 0.2);
			border-radius: 50%;
			box-sizing: content-box;
			position: absolute;
			left: -4px;
			top: -4px;
			z-index: 2;
		}
		.sa-fix {
			width: 5px;
			height: 90px;
			background-color: $background_color_3;
			position: absolute;
			left: 28px;
			top: 8px;
			z-index: 1;
			transform: rotate(-45deg);
		}
		.sa-line {
			height: 5px;
			background-color: $background_color_16;
			display: block;
			border-radius: 2px;
			position: absolute;
			z-index: 2;
		}
		.sa-line.sa-tip {
			width: 25px;
			left: 14px;
			top: 46px;
			transform: rotate(45deg);
		}
		.sa-line.sa-long {
			width: 47px;
			right: 8px;
			top: 38px;
			transform: rotate(-45deg);
		}
	}
	.sa-icon.sa-custom {
		background-size: contain;
		border-radius: 0;
		border: none;
		background: no-repeat center center;
	}
}

.sweet-alert.show-input {
	input {
		display: block;
	}
}

.sweet-alert[data-has-cancel-button=false] {
	button {
		box-shadow: none !important;
	}
}

.sweet-alert[data-has-confirm-button=false][data-has-cancel-button=false] {
	padding-bottom: 40px;
}

.showSweetAlert[data-animation=pop] {
	animation: showSweetAlert 0.3s;
}

.showSweetAlert[data-animation=none] {
	animation: none;
}

.showSweetAlert[data-animation=slide-from-top] {
	animation: slideFromTop 0.3s;
}

.showSweetAlert[data-animation=slide-from-bottom] {
	animation: slideFromBottom 0.3s;
}

.hideSweetAlert[data-animation=pop] {
	animation: hideSweetAlert 0.2s;
}

.hideSweetAlert[data-animation=none] {
	animation: none;
}

.hideSweetAlert[data-animation=slide-from-top] {
	animation: slideToTop 0.4s;
}

.hideSweetAlert[data-animation=slide-from-bottom] {
	animation: slideToBottom 0.3s;
}

.animateSuccessTip {
	animation: animateSuccessTip 0.75s;
}

.animateSuccessLong {
	animation: animateSuccessLong 0.75s;
}

.sa-icon.sa-success.animate {
	&::after {
		animation: rotatePlaceholder 4.25s ease-in;
	}
}

.animateErrorIcon {
	animation: animateErrorIcon 0.5s;
}

.animateXMark {
	animation: animateXMark 0.5s;
}

.pulseWarning {
	animation: pulseWarning 0.75s infinite alternate;
}

.pulseWarningIns {
	animation: pulseWarningIns 0.75s infinite alternate;
}

.la-ball-fall {
	position: relative;
	box-sizing: border-box;
	display: block;
	font-size: 0;
	color: $color_6;
	width: 54px;
	height: 18px;
	> div {
		position: relative;
		box-sizing: border-box;
		display: inline-block;
		float: none;
		background-color: $background_color_17;
		border: 0 solid currentColor;
		width: 10px;
		height: 10px;
		margin: 4px;
		border-radius: 100%;
		opacity: 0;
		animation: ball-fall 1s ease-in-out infinite;
		&:nth-child(1) {
			animation-delay: -200ms;
		}
		&:nth-child(2) {
			animation-delay: -100ms;
		}
		&:nth-child(3) {
			animation-delay: 0ms;
		}
	}
}

.la-ball-fall.la-dark {
	color: $color_7;
}

.la-ball-fall.la-sm {
	width: 26px;
	height: 8px;
	> div {
		width: 4px;
		height: 4px;
		margin: 2px;
	}
}

.la-ball-fall.la-2x {
	width: 108px;
	height: 36px;
	> div {
		width: 20px;
		height: 20px;
		margin: 8px;
	}
}

.la-ball-fall.la-3x {
	width: 162px;
	height: 54px;
	> div {
		width: 30px;
		height: 30px;
		margin: 12px;
	}
}

@media all and (max-width: 540px) {
	.sweet-alert {
		width: auto;
		margin-left: 0;
		margin-right: 0;
		left: 15px;
		right: 15px;
	}
}
